:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-blue: #3369d3;
	--color-gray-1: #e6e6e6;
	--color-gray-2: #bebebe;
	--color-gray-3: #a9a7a8;
	--color-gray-4: #6d6d6d;
	--color-gray-5: #707070;
	--color-gray-6: #4e4e4e;
	--font-open-sans: "Open Sans", sans-serif;
	--font-cairo: "Cairo", sans-serif;
	--font-roboto: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-open-sans);
}
/* Header */

header {
	background-image: url(./assets/slider1@2x_shadow.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--color-white);
}

.header_ctn {
	width: 960px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}

.nav_ul ul {
	display: flex;
	list-style-type: none;
	margin: 30px 0;
}

.nav_ul a {
	color: var(--color-white);
	text-decoration: none;
	margin-right: 40px;
}

.header_logo {
	background-image: url(./assets/bmw_logo.svg);
	background-repeat: no-repeat;
	width: 55px;
	height: 55px;
	position: absolute;
	right: 80px;
	top: 20px;
}

.nav_ul p {
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
}

.nav_underline {
	width: 100%;
	height: 1px;
	background-color: var(--color-white);
	opacity: 0.3;
	display: block;
}

.ctn_header_info img,
.ctn_header_info h1,
.ctn_header_info p {
	padding: 10px 0;
}

.ctn_buttons {
	display: flex;
}

.ctn_buttons div span:nth-child(2) {
	margin: 0 10px;
}

.btn_carusele {
	background-color: #ffffff;
	padding: 3px 35px;
	display: inline-block;
	border: none;
	border-radius: 1px;
}

.btn_carusele:hover {
	background-color: var(--color-blue);
	transition: 0.2s ease-in;
	cursor: pointer;
}

.btn_test_ride {
	padding: 10px 30px;
	background-color: var(--color-blue);
	color: var(--color-white);
	border: none;
	margin: auto;
}

.btn_test_ride:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* Section Facts about BMW */

.ctn_facts-about-bmw div,
.ctn_innovations div {
	width: 600px;
	gap: 20px;
}

.ctn_imgs {
	display: flex;
	justify-content: space-between;
}

.ctn_imgs_foto1-1 {
	margin-top: 300px;
}

.ctn_img_facts-about {
	align-items: flex-start;
}

.ctn_info {
	width: 1900px;
	display: flex;
	justify-content: space-around;
	margin: 150px auto;
}

.tiles_facts {
	display: flex;
}

.tiles_facts div {
	margin-top: 10%;
}

.tiles_facts p:first-child {
	border-bottom: 2px solid var(--color-gray-1);
	font-weight: bold;
}

.section_underline {
	width: 20px;
	height: 2px;
	background-color: var(--color-gray-2);
	position: absolute;
}

/* Section Innovation and Areodynamic */

.ctn_innovations h1 {
	width: 200px;
	margin-bottom: 40px;
}

.ctn_innovations div p:first-of-type {
	margin-bottom: 20px;
	color: var(--color-gray-3);
}

.ctn_img_innovations {
	align-items: flex-start;
}

.ctn_imgs_foto2-2 {
	margin-top: -100px;
}

/* Section Pictures */
.parent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-width: 1900px;
	margin: auto;
}

.div1 {
	grid-area: 1 / 1 / 3 / 7;
}
.div2 {
	grid-area: 1 / 7 / 2 / 9;
}
.div3 {
	grid-area: 1 / 9 / 2 / 13;
}
.div4 {
	grid-area: 2 / 7 / 3 / 10;
}
.div5 {
	grid-area: 2 / 10 / 3 / 13;
}

/* Section Contact */

.ctn_contact {
	width: 700px;
	margin: auto;
	box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 1);
}

.ctn_form {
	padding: 70px 80px;
	margin: 80px auto;
}

.ctn_form > div {
	margin-bottom: 60px;
}

.ctn_form > div h1 {
	margin-bottom: 20px;
}

.ctn_form > div sup {
	font-size: 0.5em;
}

.ctn_form > div p {
	color: var(--color-gray-3);
}

form {
	display: flex;
	flex-direction: column;
	padding-right: 150px;
}
form > div input {
	margin-right: 0.5em;
	cursor: pointer;
}
form > div label {
	margin-right: 1em;
	cursor: pointer;
}

form > div {
	margin-top: 15px;
	cursor: pointer;
}

form input {
	margin: 15px 0;
	padding: 10px;
	border: 1px solid var(--color-gray-1);
}

form label {
	color: var(--color-gray-4);
}

form button {
	background-color: var(--color-blue);
	color: var(--color-white);
	border: transparent;
	width: 200px;
	height: 50px;
	margin-top: 30px;
}

form button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.popup {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-black);
	opacity: 0.9;
	color: var(--color-white);
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	visibility: hidden;
}

.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.popup h1 {
	margin-bottom: 20px;
}

.popup p {
	width: 300px;
	margin-bottom: 50px;
	font-weight: 200;
}

.popup button {
	background-color: var(--color-blue);
	color: var(--color-white);
	padding: 15px 80px;
	border-radius: 4px;
	cursor: pointer;
}

.popup button:hover {
	opacity: 0.8;
	cursor: pointer;
}
/* Footer */

footer {
	background-color: var(--color-gray-1);
}

footer div {
	width: 1200px;
	margin: auto;
}

.ctn_social_icons {
	display: flex;
	flex-direction: column;
}

.social_icons {
	display: flex;
	flex-direction: row-reverse;
	padding: 20px 0;
}

.social_icons a {
	color: var(--color-gray-3);
	align-self: center;
	cursor: pointer;
	text-decoration: none;
}

.social_icons img {
	margin-left: 10px;
	cursor: pointer;
}

.footer_underline {
	width: 100%;
	height: 0.5px;
	background-color: var(--color-gray-2);
}

.footer_ctn_links {
	display: flex;
	justify-content: flex-start;
	width: 1200px;
	padding-right: 100px;
}

.footer_ctn_links div {
	margin: 50px 0;
}

.footer_ctn_links div h3 {
	color: var(--color-gray-3);
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.footer_ctn_links ul {
	list-style-type: none;
}

.footer_ctn_links li {
	padding-top: 15px;
}

/* Under Footer */

.section_under_footer {
	width: 1200px;
	margin: 15px auto;
	color: var(--color-gray-4);
}
